<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" routerLink="/home">( ノ-_-)ノﾞ Movie Master ＼(￣^￣＼)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <a class="nav-link" routerLink="/create-movie">Movie</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                <a class="nav-link" routerLink="/create-genre">Genre</a> 
            </li> 
            <li class="nav-item" *ngIf="authService.isLoggedIn()">
                    <a class="nav-link" (click)="onLogout()"> [Logout] </a> 
            </li>
        </ul>
    </div>
</nav>