<h4>My Movies</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Search: <input type="text" [(ngModel)]="searchStr"><br>
      <table class="table">
        <thead [appHoverHighlight]="{background: 'green', text: 'black'}">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Actors</th>
            <th>Studio</th>
            <th>Date</th>
            <th>Genre</th>
            <th>Image URL</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let CreateMovie of myMovies | find:'title':searchStr" [appHoverHighlight]="{background: 'blue', text: 'orange'}">
            <th scope="row">{{ CreateMovie.movie_id }}</th>
            <td>{{ CreateMovie.title }}</td>
            <td>{{ CreateMovie.actors }}</td>
            <td>{{ CreateMovie.studio }}</td>
            <td>{{ CreateMovie.date }}</td>
            <td>{{ CreateMovie.genre }}</td>
            <td>{{ CreateMovie.imageurl }}</td>
            <td><button (click)="onRemove(CreateMovie.movie_id)" class="btn btn-warning">Delete</button></td>             
          </tr>  
        </tbody>
      </table>
    </div>
  </div>
</div>
