<h4>Movie Detail</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ selectedMovie.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ selectedMovie.genre }}</h6>
                <p class="card-text">{{ selectedMovie.actors }}</p>
                <p class="card-text">{{ selectedMovie.studio }}</p>
                <p class="card-text">{{ selectedMovie.date }}</p>
                <p class="card-text">{{ selectedMovie.imageurl }}</p> 
                <a routerLink="/movies" class="card-link">Back to List</a>
          </div>
        </div>
      </div>
  </div>
</div>