<h4>Our Movies Collection</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-md-center">
            <div class="input-group col-sm-4 center">
              <input type="text" class="form-control" placeholder="Search for movies..." [(ngModel)]="searchStrTitle">
            </div>
          </div>
        Genre:
        <select name="genre" [(ngModel)]="searchStrGenre">
            <option value="Adventure">Adventure</option>
            <option value="Action">Action</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Comedy">Comedy</option>
            <option value="">All</option>
          </select>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Genre</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of myMovies | find:'genre': searchStrGenre | find:'title': searchStrTitle " [appHoverHighlight]="{background: 'black', text: 'orange'}">
            <td scope="row">{{ movie.movie_id }}</td> 
            <td>{{ movie.title | uppercase }}</td>
            <td>{{ movie.genre }}</td>
            <td><button (click)="onViewDetail(movie.movie_id);" class="btn btn-success">View Detail</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
