<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-header></app-header>
  <router-outlet></router-outlet>

</div>

<!--
  <h1>
  Welcome to {{ title }}!!!
  </h1>
  <app-movies></app-movies>
  <app-create></app-create>
-->

