<h4>Add a New Movie</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 form-control-label">Title:</label>
        <div class="col-sm-9">
          <input [formControlName]="'title'" type="text" class="form-control" id="inputTitle" #inputTitle> 
          <span class = "help-block"
          *ngIf="!Form.get('title').valid && Form.get('title').touched">
            This field is required!
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputActors" class="col-sm-3 form-control-label">Actors:</label>
        <div class="col-sm-9">
          <input [formControlName]="'actors'" type="text" class="form-control" id="inputActors" #inputActors>
          <span class = "help-block"
          *ngIf="!Form.get('actors').valid && Form.get('actors').touched">
            This field is required!
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputStudio" class="col-sm-3 form-control-label">Studio:</label>
        <div class="col-sm-9">
          <input [formControlName]="'studio'" type="text" class="form-control" id="inputStudio" #inputStudio>
          <span class = "help-block"
          *ngIf="!Form.get('studio').valid && Form.get('studio').touched">
            This field is required!
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDate" class="col-sm-3 form-control-label">Date:</label>
        <div class="col-sm-9">
          <input [formControlName]="'date'" type="text" class="form-control" id="inputDate" #inputDate>
          <span class = "help-block"
          *ngIf="!Form.get('date').valid && Form.get('date').touched">
            This field is required!
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputGenre" class="col-sm-3 form-control-label">Genre:</label>
        <div class="col-sm-9">
          <input [formControlName]="'genre'" type="text" class="form-control" id="inputGenre" #inputGenre>
          <span class = "help-block"
          *ngIf="!Form.get('genre').valid && Form.get('genre').touched">
            This field is required!
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputImageurl" class="col-sm-3 form-control-label">Image URL:</label>
        <div class="col-sm-9">
          <input [formControlName]="'imageurl'" type="text" class="form-control" id="inputImageurl" #inputImageurl>
          <span class = "help-block"
          *ngIf="!Form.get('imageurl').valid && Form.get('imageurl').touched">
            This field is required!
          </span>
        </div>
      </div>
      <button type="Add" class="btn btn-success" type="submit" [disabled]="!Form.valid" (click)="onAddMovie(inputTitle, inputActors, inputStudio,
      inputDate, inputGenre, inputImageurl)">Add Movie</button>
      </form>
    </div>
  </div>
</div>

