<h4>Create Movie Detail</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ selectedMovie.title }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ selectedMovie.actors }}</h6>
                <p class="card-text">
                  {{ selectedMovie.studio }}
                </p>
                <a routerLink="/create" class="card-link">Back to Create</a>
          </div>
        </div>
      </div>
  </div>
</div>