<h4>Add a New Movie</h4>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-3 form-control-label">Title:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputTitle" #inputTitle>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputGenre" class="col-sm-3 form-control-label">Genre:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputGenre" #inputGenre> 
        </div>
      </div>
      <button type="Add Movie" class="btn btn-success" (click)="onAddMovie(inputTitle, inputGenre)">Add Movie</button>
    </div>
  </div>
</div>
